<div class="container">
    <h2>Switch Case</h2>
</div>
<div class="container">
    @switch (Vowels) {
        @case ('A') {
            <h3>'A' is Vowel</h3>
        }
        @case ('E') {
            <h3>'E' is Vowel</h3>
        }
        @case ('I') {
            <h3>'I' is Vowel</h3>
        }
        @case ('O') {
            <h3>'O' is Vowel</h3>
        }
        @case ('U') {
            <h3>'U' is Vowel</h3>
        }
        @default {
            <h3>{{Vowels}} is Consonant</h3>
        }
    }
</div>
